/* navigation */
#navbar{
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
}
/* home */
#home{
    height: 368px;
    padding: 5px 30px;
}

#home::before{
    height: 492px;
    
}
#home p{
    font-size: 15px;
}

/* services */
#services{
flex-direction: column;
}
#services .box img{
    width: 245px;
}
#services .box{
    padding: 15px;
    margin: 2px 5px;
    margin-bottom: 20px;
}


/* clients section */
#clients{
    flex-wrap: wrap;
}

#clients img{
    width: 260px;
    padding:5px ;
    height: auto;
}

/* contact us */
#contact-box form{
    width: 80%;
}

/* Footer */

/* utility */
.primary{
    font-size: 75px;

}
.btn{
    font-size: 15px;
    padding: 4px 8px;
}